<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Successfully visited on mobile</strong> You should check in on some of those products.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="col-sm-12">
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="500px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mobile</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
