
<div class="row">

    <div class="col-md-6">
        <img src="{{homeimage}}" alt="" width="100%" height="400px">
    </div>
    
    <div class="col-md-6">
        <h1>HOME</h1>
        <h5>We create and teach effective digital content that spurs people to take action.

            By meeting your audience’s goals, your site will meet your business and strategy goals. Content is your site’s most important tool to meet both sets of goals.
            
            What types of content do you need?
            How often does the content need to be updated?
            Who will write and update the content?
            Content Company can create compelling content for your site. We can develop the content at your office or ours. We extend our industry and topic expertise through our partner network.

            By meeting your audience’s goals, your site will meet your business and strategy goals. Content is your site’s most important tool to meet both sets of goals.
        </h5>
    </div>
</div>
