<h1>OUR PRODUCTS</h1>
<hr class="mb-3">
<button type="button" class="btn btn-outline-secondary" routerLink="/">Back to Home</button>
<button type="button" class="btn btn-outline-secondary" routerLink="/service">Go to Services</button>
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="200px"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="laptop" class="btn btn-primary">Learn More </a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1461151304267-38535e780c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="200px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Television</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="television" class="btn btn-primary">Learn More </a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="200px"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="mobile" class="btn btn-primary">Learn More </a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1551761429-8232f9f5955c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="200px"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Washing Machine</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="washingmachine" class="btn btn-primary">Learn More </a>
        </div>
      </div>
    </div>

    
</div>

<div class="row text-center">
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>